:root {
  --background-color: #fff;
  --body-color: #f5f5f5;
  --title-color: #333;
  --primary-color: #0070ff;
  --secondary-color: #ff008c;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--body-color);
  overflow-x: hidden;
  height: 100vh;
}
#container {
  display: flex;
  flex-direction: column;
}
/* LAYOUT EVENTS */

/* HEADER */
header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-height: 3.12rem;
  justify-content: space-between;
  transition: 0.3s;
  align-items: center;
  background-color: var(--primary-color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

div#add {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  width: auto;
  height: 3.12rem;
  cursor: pointer;
  transition: 0.3s;
}

div#add svg path {
  fill: var(--background-color);
}
div#add.active {
  transition: 0.3s;
  background-color: var(--secondary-color);
}
div#add svg {
  transition: 0.3s;
}
div#add.active svg {
  transform: rotate(45deg);
  transition: 0.3s;
}
#input {
  position: relative;
  display: flex;
  height: 3.12rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  line-height: auto;
  padding: 0.5rem;
  background-color: var(--background-color);
}
#input svg {
  line-height: 1rem;
  margin: 0 0.2rem;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
#input svg path {
  fill: var(--primary-color);
}
#input input {
  height: 3.12rem;
  width: 100%;
  border: none;
  font-family: sans-serif;
  font-weight: normal;
  background-color: transparent;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  outline: none;
  color: var(--primary-color);
}
/* MAIN */
main {
  display: flex;
  margin-top: 1rem;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--body-color);
}
main #add-text {
  display: flex;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
main #add-text.hide {
  display: flex;
  transition: 0.5s;
  transform: translateY(-2rem);
  opacity: 0;
  visibility: hidden;
  height: 0;
}
div#title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--background-color);
  margin: 1rem 0;
}
div#title svg {
  cursor: pointer;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}
div#title svg.hide {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
div#title svg path {
  fill: var(--title-color);
}
div#title input {
  width: 100%;
  height: 2rem;
  padding: 0.2rem 0.2rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  border-width: 0;
  font-size: 1.2rem;
  color: var(--primary-color);
  outline: none;
  letter-spacing: 0.1rem;
}
div#text {
  position: relative;
  width: 100%;
  background-color: var(--background-color);
}
div#text svg {
  position: absolute;
  bottom: 0;
  right: 0;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  cursor: pointer;
}
div#text svg.hide {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
div#text svg path {
  fill: var(--title-color);
}
div#text textarea {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  font-family: sans-serif;
  padding: 0.2rem 0.2rem;
  border-radius: 0.3rem;
  border-width: 0;
  font-size: 1.2rem;
  color: var(--primary-color);
  outline: none;
  letter-spacing: 0.1rem;
}
div#confirm {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: 0.5s;
  padding: 0.5rem;
  background-color: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
}
div#confirm svg path {
  fill: var(--background-color);
}
div#confirm.disable {
  background-color: rgba(0, 0, 0, 0.3);
}
div#list {
  display: flex;
  flex-direction: column;
  opacity: 1;
  width: 100%;
  height: 100%;
  visibility: visible;
}
div#list.hide {
  display: flex;
  transform: translateY(-2rem);
  opacity: 0;
  width: 100%;
  height: 0;
  visibility: hidden;
}
ul#list-text {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}
ul#list-text li {
  list-style: none;
  padding: 0.5rem;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  margin: 0.5rem 0;
  background-color: var(--background-color);
  color: var(--title-color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
ul#list-text li span {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: normal;
  color: var(--primary-color);
  padding-left: 1rem;
}
